:root{
    --blue:#0065FC;
    --light-blue:#DEEBFF;
    --gray:#F2F2F2;
    --box-shadow: 5px 5px 16px 0 rgba(0,0,0,0.2);
    --box-shadow-blue: 5px 5px 16px 0 rgba(0,101,252, 0.589);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
font-family: 'Raleway', sans-serif;
/* max-width: 2200px; */
/* margin:auto; */
}
.wrapper-header{
    width: 99%;
    padding: 10px 30px 10px 30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;    
    gap:20px;    
    flex-shrink: 1;
}
.header-nav_bar-menu_list{
    list-style-type: none;
    display: flex;  
}
.header-nav_bar-menu_list-menu_item a{    
    display: block;
    padding: 30px;
    min-width: 180px;
    text-decoration: none;
    color: black;
    border-style: solid;
    border-color: lightgray;
    border-width: 4px 0 0 0;
    text-align: center;
}
.header-nav_bar-menu_list-menu_item a:hover{
    color: var(--blue);
    border-color: var(--blue);
}
.header-motto{
    /* move flex item to a new line */
    flex-basis: 100%;
    line-height: 1.5;
}
main{
    max-width: 2000px;
    margin:auto;
    padding: 10px 30px 10px 30px;
}
.search_form {
    display: flex;
    box-shadow: var(--box-shadow);
    max-width: fit-content;
    border-radius: 15px;
    flex-shrink: 1;
}
.search_form:hover{
    box-shadow: var(--box-shadow-blue);
}
.search_form label[for="search_form-input"]{
    padding: 12px 17px 12px 17px;
    font-weight: bold;
    text-align: center;
    background-color: var(--gray);
    border:2px solid var(--gray);
    border-radius: 15px 0 0 15px;
}
.search_form .search_form-input{
    padding: 10px;
    font-weight: bold;
    border:0;
}
.search_form .search_form-submit{
    background-color: var(--blue);
    padding: 10px 17px 10px 17px;
    border:0;
    border-radius: 0 15px 15px 0;
    color: white;
    font-weight: bold;
}
.search_form .search_form-submit i{
    display: none;
}
.search_form-filters{
    padding: 30px 0 30px 0;
}
.search_form-filters_list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:20px;
}
.search_form-filters_list_item:not(:first-child){
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    min-width: fit-content;
}
.search_form-filters_list_item:not(:first-child):hover{
    margin-top:-5px;
    box-shadow: var(--box-shadow-blue);
    cursor: pointer;
}
.search_form-filters_list_item span{
    padding:15px;
    font-weight: bold;
}
.search_form-filters_list_item i{
    padding:15px;
    background-color: var(--light-blue);
    border-radius: 20px;
    color: var(--blue);
}
.search_form-text{
    margin-bottom: 15px;
    font-size: 14px;
}
.search_form-text span{
    margin-left:10px;
}
.search_form-text i{
    color:var(--blue);
}

.section-accomodation_popular{
    display: flex; 
    gap:30px;
}
.wrapper-accomodation{
    border-radius: 30px;
    background-color: var(--gray);
    overflow: hidden;
}
.wrapper-accomodation h3{
    margin:20px;
}
.accomodation-card-gallery{
    display: flex;
    flex-wrap: wrap;
    gap:20px;      
    justify-content: space-around;       
    padding: 10px 10px 30px 10px;    
}
.accomodation-card{
    display: flex;   
    flex-grow: 1;   
    flex-direction: column;
    max-width: 400px;
    min-width: 220px;  
    flex-basis: 30%;
    max-height: 350px;  
    background-color: white;
    border-radius: 20px;
    border:3px solid white;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}
.accomodation-card:hover{
    margin: -3px;
}
.accomodation-card a,
.accomodation-card a:visited{
    text-decoration: none;
    color: black;
}
.accomodation-card_picture img{
    width: 100%;
    height: 150px;
    object-fit: cover;   
}
.accomodation-card_description{
    margin:10px;
    line-height: 1.5;
}
.wrapper-popular{
    background-color: var(--gray);
    border-radius: 30px;
    max-width: 450px;   
    min-width: 330px;
}
.wrapper-popular a,
.wrapper-popular a:visited{
    text-decoration: none;
    color: inherit;
}
.wrapper-popular h3{
    margin:20px;
}
.popular-card_gallery{    
    padding:10px;
    height: 100%;
}
.popular-card{    
    display: flex;
    background-color: white; 
    border:4px solid white;
    border-radius: 30px;
    overflow: hidden;    
    margin-bottom: 15px;
    box-shadow: var(--box-shadow);
}
.popular-card:hover{
    margin:-3px -3px 15px -3px ;
}
.popular-card_picture{
    min-width: 40%;
    max-width: 42%;
    min-height: 130px;
    max-height: 140px;
}
.popular-card_picture img{
    height: 100%;
    width: 100%;  
    object-fit: cover;         
}
.popular-card_description{
    margin: 10px;
    display: flex;    
    flex-direction: column; 
    gap:5px;
}
.popular-card_description_stars{    
    margin-top:auto;
}
.wrapper-activities{
    min-width:100%;
}
.wrapper-activities h3{
    padding:20px;
}
.activities-card_gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.activities-card_gallery_columns {
    flex-basis: 24%;
    min-width: 300px; 
}

.activities-card{
    width: 100%;
    background-color: var(--gray);
    border-radius: 20px;
    border:3px solid white;
    overflow: hidden; 
    box-shadow: var(--box-shadow);
    margin: 0 auto 20px auto;
}
.activities-card h4 {
    margin:10px;
}

.activities-card_picture img{
    width: 100%;
    max-height: 150px;
    object-fit:cover;
}
.activities-card_gallery_column_1 .activities-card_picture img{
    min-height: 350px;
}
.section-footer_links{
    width: 100%;
    background-color: var(--gray); 
    margin-top: 40px;   
}
.section-footer_links a,
.section-footer_links a:visited{
    text-decoration: none;
    color: black;
}
.container-footer_links{
    display: flex;
    justify-content: space-around;
    padding:60px;
    gap:20px;
}
.section-footer_links ul{
    list-style-type: none;
    width: 100%;
    white-space: nowrap;
}
@media screen and (max-width: 768px){
   .wrapper-header{
       flex-direction: column;
   }    
  .wrapper-header .header-motto{
      align-self: flex-start;
  }
   .header-nav_bar-menu_list-menu_item a{
       border-width: 0 0 4px 0; 
       min-width: 120px;                   
   }
   .search_form {
    justify-content: center;
    }
    .search_form .search_form-submit{
    border-radius: 10px;
    }
   .search_form .search_form-submit i{
    display:inline-block;
    }
    .search_form .search_form-submit span{
        display:none;
    }
   .search_form-filters_list_item:nth-child(1){
       flex-basis: 100%;
   }
   .search_form-filters_list_item:nth-child(3),
   .search_form-filters_list_item:nth-child(5){
    order:1;
    }
    .section-accomodation_popular{
        flex-direction: column;        
    }
    .wrapper-accomodation{
        order:2;
        background-color: transparent;
    }
    .wrapper-popular{
        max-width: 550px;   
        min-width: 300px;    
        margin: auto;    
    }    
    .accomodation-card{
        max-width: 550px;
        min-width: 350px;
    }
    .popular-card_picture{
        min-width: 40%;
        max-width: 42%;
        min-height: 200px;
        max-height: 220px;
    }
    .activities-card_gallery{
        margin: auto;
        flex-direction: column;        
    }
    .activities-card_gallery_columns {
        flex-basis: 24%;
        min-width: 300px;
    }
    .activities-card_picture img{
        max-height: 220px;

    }
    .activities-card_gallery_column_1 .activities-card_picture img{
        min-height: 220px;
    }
    .activities-card{
        max-width: 550px;
        /* margin: 0 auto 20px auto; */
    }  
    .container-footer_links{
        flex-direction: column;
        /* align-items: center; */
    }
}