:root{
    --blue:#0065FC;
    --light-blue:#DEEBFF;
    --gray:#F2F2F2;      
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
font-family: 'Raleway', sans-serif;
}
body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    margin:10px auto;
    width: min(99%,1900px);
    padding: 10px 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;    
    gap:20px;    
}
.header-nav_bar-menu_list{
    list-style-type: none;
    display: flex;  
}
.header-nav_bar-menu_list-menu_item a{    
    display: block;
    padding: 30px;
    min-width: 160px;
    text-decoration: none;
    color: black;
    border-style: solid;
    border-color: lightgray;
    border-width: 4px 0 0 0;
    text-align: center;
}
.header-nav_bar-menu_list-menu_item a:hover{
    color: var(--blue);
    border-color: var(--blue);
}
.header-motto{
    flex-basis: 100%;
    line-height: 1.5;
}
main{
    max-width: 2000px;
    margin:auto; 
    padding: 10px;
}

form{
    display: flex;
    box-shadow: 1px 7px 12px -2px rgba(0,0,0,0.39);
    max-width: fit-content;
    border-radius: 15px;
    flex-shrink: 1;
}
form:hover{ 
    box-shadow: 5px 5px 16px 0 rgba(45, 85, 255,0.6);
}
input:focus{
    outline:0;
}
form label[for="search_input"]{
    padding: 12px 17px 12px 17px;
    font-weight: bold;
    text-align: center;
    background-color: var(--gray);
    border-radius: 15px 0 0 15px;
    cursor: pointer;
}
form input{
    padding: 13px;
    font-weight: bold;
    border:0;
    cursor: pointer;
}
form button{
    background-color: var(--blue);
    padding: 10px 17px 10px 17px;
    border:0;
    border-radius: 0 15px 15px 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
form button[type="submit"] i{
    display: none;
}

.search_filters{
    padding: 30px 0 30px 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;  
    align-items: center;
    gap:20px;
}
.search_filters_item:not(:first-child){
    border-radius: 20px;
    box-shadow: 1px 7px 12px -2px rgba(0,0,0,0.39);
    min-width: fit-content;
}
.search_filters_item:not(:first-child):hover{    
    transform:scale(1.1);
    cursor: pointer;
}
.search_filters_item span{
    padding:15px;
    font-weight: bold;
}
.search_filters_item i{
    padding:15px;
    background-color: var(--light-blue);
    border-radius: 20px;
    color: var(--blue);
}
.info_text {
    display: inline-block;
    margin-left:10px;
    margin-bottom: 20px;
    font-size: 14px;    
}
.fa-info{
    color:var(--blue);
    padding: 5px 10px;
    border:2px solid lightgray;
    border-radius: 15px;
}
#sections_container{
    display: flex;
    justify-content: center;    
    gap:20px;
}
.card_link:before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    content: '';
}
.card_body p:first-child{
    inline-size:180px;
    overflow-wrap: break-word;
    line-height: 1.3;
}
#accomodations,#popular{      
    padding: 15px 5px;
    border-radius: 15px;  
    background-color: var(--gray); 
    position: relative;   
}
#accomodations .accomodations_gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:20px;
}
#accomodations .accomodations_card{
    background-color: white;
    border-radius: 15px;
    overflow: hidden;  
    border: 3px solid whitesmoke;
    box-shadow: 1px 7px 12px -2px rgba(0,0,0,0.39);
    flex-basis: min(48%,400px); 
    flex-shrink: 1;
    position: relative;    
}

#accomodations .accomodations_card img
{
    width:100%;
    height: 140px;
    object-fit: cover;
}
#accomodations .accomodations_card .card_body{
    padding: 10px;
    line-height: 1.5;
}
#popular .popular_card{
    background-color: white;
    border-radius:15px;
    overflow:hidden;
    border:3px solid whitesmoke;
    box-shadow: 1px 7px 12px -2px rgba(0,0,0,0.39);
    height: 140px;
    width: 400px;
    min-width: 335px;    
    margin:30px 0; 
    position: relative;   
}
#popular h1{
    display:inline-block
}
#popular > i {
    position: absolute;
    top:50px;
    right:15px;
}
#popular .popular_card img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    object-position: center;
    float:left;
}
#popular .popular_card .card_body{
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    line-height: 2;
    height: 100%;
}
#popular .card_stars{
    position:absolute;
    bottom: 0;
}
#activities{
    padding: 15px;
}
.activities_gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}
#activities .activities_gallery .activities_card{
    flex-basis: min(24%,400px); 
    margin: 20px 0;    
    border-radius: 15px;
    overflow: hidden;    
    box-shadow: 1px 7px 12px -2px rgba(0,0,0,0.39);
    position: relative;
}
#activities .article_container{
    flex-basis: min(24%,400px);
}
#activities img{
    width: 100%;
    height: 400px;
    object-fit: cover;    
}
#activities .article_container .activities_card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
#activities .activities_card p{
    padding: 15px;
}
footer{
    width: 100vw;
    background-color: var(--gray); 
    margin-top: 40px; 
    display: flex;
    justify-content: space-around;
    padding:60px;
    gap:20px;  
}
footer a,
footer a:visited{
    text-decoration: none;
    color: black;
}
footer ul{
    list-style-type: none;
   line-height: 1.6;
}
.star_blue{
    color: var(--blue);
}
.star_gray{
    color: gray
}
@media screen and (max-width:992px){
    #sections_container{
        flex-direction: column;
    }
    #popular{
        order:0;
    }
    #accomodations{
        order:1;
    }
    #popular .popular_gallery{
        display:flex;
        flex-wrap: wrap;
        gap:10px;
        justify-content: center;
    }
    #popular .popular_card{
        flex-grow: 1;
        max-width: 400px;
        height: 180px;
    }
    #popular .popular_card img{
        height: 180px;
        width: 135px;
    }    
    #popular .popular_card .card_body{
        padding: 5px;
    }
    #activities .activities_gallery .activities_card,
    #activities .article_container{
        flex-basis: max(40%,350px);
    }
}

@media screen and (max-width:768px){
    header{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    nav{
        display: flex;
        justify-content: center;
        flex-basis:100%; 
    }
    .header-motto{
        display: inline-block;
    }
    
    form{
        margin:auto;
    }
    .search_filters{
        justify-content: flex-start; 
        width: 90%;   
        margin:auto;
        gap:10px;    
    }    
    .search_filters_item:nth-child(1){
        flex-basis: 100%;
    }
    .search_filters_item:nth-child(3),
    .search_filters_item:nth-child(5){
        order:1;
    }
    form button[type="submit"] i{
        display: inline-block;
    }
    form button span{
            display:none;
    }
    .header-nav_bar-menu_list-menu_item a{
        border-width: 0 0 4px 0; 
    }
    #accomodations{
        background-color: transparent;
    }
    #accomodations .accomodations_card{
        flex-basis: max(48%,400px); 
    }
    #activities .activities_gallery .activities_card,
    #activities .article_container{
        flex-basis: max(48%,400px); 
    }
    #activities .activities_card img{
        width:100%;
        height: 180px;
        object-fit: cover;
    }
    #activities .article_container,
    #activities .article_container .activities_card{
        margin: 0; 
    }
    #activities .article_container .activities_card:nth-child(1){
        margin-bottom: 30px; 
    }   
    footer{
        flex-direction: column;
        padding: 20px 50px;
    }
    main,#activities,#accomdations{
        padding: 5px;
        margin:10px;
    }
}
